{% liquid
	# renders a dynamic footer
	# params:
	#   cart (cart)
	#   gwp_offer_type (string, 'none' | 'active' | 'partial')
	# gwp_offer (gwp_offer)

	#   note: params only serve as pass through to the cart-gwp snippet
%}
<div class="drawer__footer">
	{% render 'cart-gwp',
        cart: cart,
		gwp_offer_type: gwp_offer_type,
		gwp_offer: gwp_offer
	%}
	{%- if settings.show_cart_note -%}
		<details id="Details-CartDrawer" data-uc-cart-note-details>
			<summary class="flex relative lh-1" data-uc-cart-note-summary>
				<span class="summary__title">
					{{ 'sections.cart.note' | t }}
					{% render 'icon-default', icon: 'caret' %}
				</span>
			</summary>
			<cart-note class="cart__note field">
				<label class="visually-hidden" for="CartDrawer-Note">
					{{- 'sections.cart.note' | t -}}
				</label>
				<textarea
					id="CartDrawer-Note"
					class="text-area text-area--resize-vertical field__input"
					name="note"
					placeholder="{{ 'sections.cart.note' | t }}"
				>{{ cart.note }}</textarea>
			</cart-note>
		</details>
	{%- endif -%}

	<!-- Start blocks -->
	<!-- Subtotals -->

	<div class="cart-drawer__footer" {{ block.shopify_attributes }}>
		<div class="totals" role="status">
			<h2 class="text-body">{{ 'sections.cart.headings.total' | t }}</h2>
			<p class="text-body">
				{{ cart.total_price | money_with_currency }}
			</p>
		</div>

		<div>
			{%- if cart.cart_level_discount_applications.size > 0 -%}
				<ul
					class="discounts list-unstyled"
					role="list"
					aria-label="{{ 'customer.order.discount' | t }}"
				>
					{%- for discount in cart.cart_level_discount_applications -%}
						<li class="discounts__discount discounts__discount--end">
							{%- render 'icon-default', icon: 'discount' -%}
							{{ discount.title }}
							(-{{ discount.total_allocated_amount | money }})
						</li>
					{%- endfor -%}
				</ul>
			{%- endif -%}
		</div>
	</div>

	<!-- CTAs -->

	<div class="cart__ctas" {{ block.shopify_attributes }}>
		<noscript>
			<button
				type="submit"
				class="cart__update-button button button--outline"
				form="CartDrawer-Form"
			>
				{{ 'sections.cart.update' | t }}
			</button>
		</noscript>

		<button
			type="submit"
			id="CartDrawer-Checkout"
			class="cart__checkout-button button"
			name="checkout"
			form="CartDrawer-Form"
			{% if cart == empty %}
				disabled
			{% endif %}
		>
			{{ 'sections.cart.checkout' | t }}
		</button>
	</div>
</div>
