{% liquid
	# renders a dynamic progress bar if an offer is available

	# params:
	#   cart (cart)
	#   gwp_offer_type (string, 'none' | 'active' | 'partial')
	#	gwp_offer (gwp_offer)

	# constants/params setup
	assign threshold = -1.0
	assign gwp_offer_type = gwp_offer_type | default: 'none'

	if gwp_offer_type == 'active'
		# todo grab success message from offer metaobject
		assign percent = 100
	elsif gwp_offer_type == 'partial'
		# partial offers should have a 'offer_condition_cart_threshold' metaobject in the the 'enable_conditions' list
		for condition in gwp_offer.enable_conditions.value
			if condition.system.type == 'offer_condition_cart_threshold'
				assign threshold = condition.minimum_cart_value.value | plus: 0.0
			endif
		endfor

		# note: everything have to get converted to floats in order to calculate a percentage bc of how liquid handles floats vs ints
		# the currency values are still 'int style' though. in otherwords $10.00 is represented as 1000.0 here
		assign current_cart_amount = cart.items | map: 'final_line_price' | sum
		assign difference = threshold | minus: current_cart_amount
		assign current_cart_amount = current_cart_amount | plus: 0.0
		assign threshold = threshold | plus: 0.0
		assign percent = current_cart_amount | divided_by: threshold | times: 100 | round

		# just a safety check to make sure everything is working as expected before displaying
		if threshold <= 0.0
			assign gwp_offer_type = 'none'
		endif
	endif

	assign success = 'Gift unlocked!'
	assign meter_prefix = 'Spend another '
	assign meter_suffix = ' to unlock a gift!'
%}

{% if gwp_offer_type != 'none' %}
	<dynamic-progress-bar
		data-percent="{{- percent -}}"
		data-success="{{- success -}}"
		class="w-100 block relative dynamic-progress-bar"
		style="--progress-percent: {{ percent }}%"
		data-threshold="{{- threshold -}}"
		data-offer="{{- maybe_partial_offer_handle -}}"
	>
		<span
			class="absolute top-0 h-100 dynamic-progress-bar__status__container empty flex align-center justify-start"
			role="status"
		>
			<span
				class="dynamic-progress-bar__status__text relative z-3 h5 tt-uppercase lh-1 m-0"
				data-shipping-bar-status
			>
				{% if gwp_offer_type == 'active' %}
					{{ success }}
				{% else %}
					{{- meter_prefix -}}
					{{- difference | money_without_trailing_zeros -}}
					{{- meter_suffix -}}
				{% endif %}
			</span>
		</span>
		<span
			class="dynamic-progress-bar__indicator absolute left-0 top-0 h-100 z-2 empty"
		></span>
		<span
			class="dynamic-progress-bar__background w-100 absolute top-0 h-100 z-1 empty"
		></span>
	</dynamic-progress-bar>
{% endif %}
