{% liquid
	# constants setup
	assign result_delimiter = '::'
	assign not_found_result = '_not_found_'

	# will be set to 'none' | 'active' | 'partial'
	# an 'active offer' is a ready-to-claim offer, while a partial offer just means that it's something the customer can work towards
	assign offer_type = 'none'

	# start by checking for an active offer
	capture active_offer_result
		render 'return-gwp-offer-next'
	endcapture

	# use a function to get the handle of the active offer or 'false' string
	capture maybe_active_offer_handle
		render 'return-gwp-offer-found', result: active_offer_result
	endcapture

	# if there's no active offer, check for a partial offer
	if maybe_active_offer_handle == 'false'
		capture partial_offer_result
			render 'return-gwp-offer-next', soft_cart_threshold: true
		endcapture
		# use the same function to get the handle of the potential partial offer
		capture maybe_partial_offer_handle
			render 'return-gwp-offer-found', result: partial_offer_result
		endcapture
		if maybe_partial_offer_handle != 'false'
			assign offer = metaobjects.gwp_offer[maybe_partial_offer_handle]
			assign offer_type = 'partial'
		endif
	else
		assign offer = metaobjects.gwp_offer[maybe_active_offer_handle]
		assign offer_type = 'active'
	endif

	assign success = 'Gift unlocked!'
	assign meter_prefix = 'Spend another '
	assign meter_suffix = ' to unlock a gift!'

	assign display = true
	assign threshold = 20000
	unless threshold
		assign display = false
	endunless
	assign current_cart_amount = cart.items | map: 'final_line_price' | sum
	assign difference = threshold | minus: current_cart_amount
	assign current_cart_amount = current_cart_amount | plus: 0.0
	assign threshold = threshold | plus: 0.0
	if difference <= 0
		assign percent = 100
	else
		assign percent = current_cart_amount | divided_by: threshold | times: 100 | round
	endif
%}

{% if offer_type != 'none' %}
	<dynamic-shipping-bar
		data-percent="{{ percent }}"
		data-success="{{ success }}"
		class="w-100 block relative dynamic-shipping-bar"
		style="--progress-percent: {{ percent }}%"
	>
		<span
			class="absolute top-0 h-100 dynamic-shipping-bar__status__container empty flex align-center justify-start"
			role="status"
		>
			<span
				class="dynamic-shipping-bar__status__text relative z-3 h5 tt-uppercase lh-1 m-0"
				data-shipping-bar-status
			>
				{% if difference <= 0 %}
					{{ success }}
				{% else %}
					{{- meter_prefix -}}
					{{- difference | money_without_trailing_zeros -}}
					{{- meter_suffix -}}
				{% endif %}
			</span>
		</span>
		<span
			class="dynamic-shipping-bar__indicator absolute left-0 top-0 h-100 z-2 empty"
		></span>
		<span
			class="dynamic-shipping-bar__background w-100 absolute top-0 h-100 z-1 empty"
		></span>
	</dynamic-shipping-bar>
{% endif %}
