{% liquid
	comment
		1. determine media types for desktop/mobile
		when possible, just pass media directly. however if you need to pass in media options, for example from the theme editor, use desktop_video, desktop_image, mobile_video, mobile_image
	endcomment

	assign desktop_media_type = 'none'
	assign mobile_media_type = 'none'

	if desktop_media
		if desktop_media.duration > 0
			assign desktop_media_type = 'video'
		else
			assign desktop_media_type = 'image'
		endif
	elsif desktop_video
		assign desktop_media = desktop_video
		assign desktop_media_type = 'video'
	elsif desktop_image
		assign desktop_media = desktop_image
		assign desktop_media_type = 'image'
	endif
	if mobile_media
		if mobile_media.duration > 0
			assign mobile_media_type = 'video'
		else
			assign mobile_media_type = 'image'
		endif
	elsif mobile_video
		assign mobile_media = mobile_video
		assign mobile_media_type = 'video'
	elsif mobile_image
		assign mobile_media = mobile_image
		assign mobile_media_type = 'image'
	endif
	if mobile_media_type != 'none' and desktop_media_type == 'none'
		assign desktop_media = mobile_media
		assign desktop_media_type = mobile_media_type
	endif

	comment
		calculate widths and sizes for image tag
		always choose two widths for mobile and 3 for desktop
		the media queries will be 495, 989, 1200, 1800, none

		on mobile_size:
		use 'sm' for anything definitely less than half the viewport
		use 'md' for anything roughly half the viewport
		leave blank aka 'lg' for anything else

		on desktop_size:
		use 'sm' for anything close to or less than 1/3 the viewport
		use 'md' for anything between 1/3 and 2/3 of the viewport
	endcomment

	case mobile_size
		when 'sm'
			assign mobile_widths = '300, 600'
			assign mobile_sizes = '(max-width: 495px) 30vw, (max-width: 989px) 30vw'
		when 'md'
			assign mobile_widths = '450, 900'
			assign mobile_sizes = '(max-width: 495px) 45vw, (max-width: 989px) 45vw'
		else
			assign mobile_widths = '900, 1800'
			assign mobile_sizes = '(max-width: 495px) 100vw, (max-width: 989px) 100vw'
	endcase

	case desktop_size
		when 'sm'
			assign desktop_widths = '600, 900, 1200'
			assign desktop_sizes = '(max-width: 1200px) 25vw, (max-width: 1800px) 25vw, 25vw'
			assign starting_width = 600
		when 'md'
			assign desktop_widths = '1200, 1800, 2400'
			assign desktop_sizes = '(max-width: 1200px) 50vw, (max-width: 1800px) 50vw, 50vw'
			assign starting_width = 1200
		else
			assign desktop_widths = '2400, 3600, 4800'
			assign desktop_sizes = '(max-width: 1200px) 100vw, (max-width: 1800px) 100vw, 100vw'
			assign starting_width = 2400
	endcase

	assign all_widths = mobile_widths | append: ', ' | append: desktop_widths
	assign all_sizes = mobile_sizes | append: ', ' | append: desktop_sizes

	comment
		use a switch key to improve conditional performance. if desktop media type is none, that means the input is nil
	endcomment
	assign switch_key = desktop_media_type | append: '_' | append: mobile_media_type
%}
<span
	class="{% if wrapper_class %}{{ wrapper_class }} {% else %} media media--transparent {% endif %}"
>
	{% case switch_key %}
		{% when 'video_none' %}
			{% render 'ucoast-video',
				video: desktop_media,
				video_class: media_class,
				play_on_event: play_on_event
			%}
		{% when 'video_video' %}
			{% render 'ucoast-video',
				video: desktop_media,
				video_class: media_class,
				viewport_class: 'm-down-hide',
				play_on_event: play_on_event
			%}
			{% render 'ucoast-video',
				video: mobile_media,
				video_class: media_class,
				viewport_class: 'm-up-hide',
				play_on_event: play_on_event
			%}
		{% when 'video_image' %}
			{% render 'ucoast-video',
				video: desktop_media,
				video_class: media_class,
				viewport_class: 'm-down-hide',
				play_on_event: play_on_event
			%}
			<picture>
				<source
					media="(max-width: 989px)"
					srcset="{% render 'srcset-from-widths', image: mobile_media, widths: mobile_widths %}"
				>

				<img
					src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
					alt="{{ mobile_media.alt }}"
					class="{{ media_class }} m-up-hide"
				>
			</picture>
		{% when 'image_video' %}
			{% render 'ucoast-video',
				video: mobile_media,
				video_class: media_class,
				viewport_class: 'm-up-hide',
				play_on_event: play_on_event
			%}
			<picture>
				<source
					media="(min-width: 990px)"
					srcset="{% render 'srcset-from-widths', image: desktop_media, widths: desktop_widths %}"
				>
				<img
					src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
					alt="{{ desktop_media.alt }}"
					class="{{ media_class }}"
				>
			</picture>
		{% when 'none_none' %}
			{{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
		{% when 'image_none' %}
			{% assign media_class = media_class | append: ' no-picture' %}
			{{
				desktop_media
				| image_url: width: starting_width
				| image_tag:
					widths: all_widths,
					sizes: all_sizes,
					height: null,
					class: media_class,
					loading: loading
			}}
		{% else %}
			<picture>
				<source
					media="(max-width: 989px)"
					srcset="{% render 'srcset-from-widths', image: mobile_media, widths: mobile_widths %}"
				>
				<source
					media="(min-width: 990px)"
					srcset="{% render 'srcset-from-widths', image: desktop_media, widths: desktop_widths %}"
				>
				{{
					desktop_media
					| image_url: width: starting_width
					| image_tag:
						widths: all_widths,
						sizes: all_sizes,
						height: null,
						class: media_class,
						loading: loading
				}}
			</picture>
	{% endcase %}
</span>
