<slideshow-component
		class="color-{{ section.settings.color_scheme }} c-background gradient slider-mobile-gutter announcement-bar relative flex flex-column {% if section.settings.show_line_separator and section.blocks.size > 0 %} announcement-bar--bottom-border{% elsif section.settings.show_line_separator and section.settings.show_social and social_icons%} announcement-bar--bottom-border-social-only{% endif %}"
		role="region"
		aria-roledescription="{{ 'sections.slideshow.carousel' | t }}"
		aria-label="Announcements from Aromatics"
		{{ block.shopify_attributes }}
>
	<div class="page-width relative">
		<div
				class="announcement-bar__controls absolute top-0 left-0 h-100 z-2 slider-buttons no-js-hidden c-background"
				data-uc-slider-controls
		>
			<div class="slider-counter slider-counter--dots">
				<div class="slideshow__control-wrapper">
					{%- for block in section.blocks -%}
						<button
								class="slider-counter__link slider-counter__link--dots  link"
								aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
								aria-controls="Slider-{{ section.id }}"
						>
							<span class="dot"></span>
						</button>
					{%- endfor -%}
				</div>
			</div>
		</div>
		<noscript>
			<div class="slider-buttons" data-uc-slider-controls>
				<div class="slider-counter">
					{%- for block in section.blocks -%}
						<a
								href="#Slide-{{ section.id }}-{{ forloop.index }}"
								class="slider-counter__link link"
								aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
						>
							{{ forloop.index }}
						</a>
					{%- endfor -%}
				</div>
			</div>
		</noscript>

		<div
				class="slideshow grid grid--1-col slider slider--everywhere mx-auto"
				id="Slider-{{ section.id }}"
				aria-live="polite"
				aria-atomic="true"
				data-autoplay="{{ section.settings.auto_rotate }}"
				data-speed="{{ section.settings.change_slides_speed }}"
		>
			{%- for block in section.blocks -%}
				{%- case block.type -%}
					{%- when 'announcement' -%}
						<div
								class="announcement-bar slideshow__slide grid__item grid--1-col slider__slide c-background"
								role="region"
								aria-label="{{ 'sections.header.announcement' | t }}"
								{{ block.shopify_attributes }}
								id="Slide-{{ section.id }}-{{ forloop.index }}"
								{{ block.shopify_attributes }}
								role="group"
								aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
								aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
								tabindex="-1"
								data-uc-slideshow-slide
						>
							{%- if block.settings.text != blank -%}
								{%- if block.settings.link != blank -%}
									<a
									href="{{ block.settings.link }}"
									class="announcement-bar__link link text-body-4 c-foreground focus-inset animate-arrow block w-100"
									>
								{%- endif -%}
								<div class="page-width">
									<p class="announcement-bar__message center text-body-4 c-foreground">
										<span>{{ block.settings.text | escape }}</span>
									</p>
								</div>
								{%- if block.settings.link != blank -%}
									</a>
								{%- endif -%}
							{%- endif -%}
						</div>
				{%- endcase -%}
			{%- endfor -%}
			<button
					type="button"
					class="visually-hidden slideshow__autoplay slider-button no-js-hidden{% if section.settings.auto_rotate == false %} slideshow__autoplay--paused{% endif %}"
					aria-label="{{ 'sections.slideshow.pause_slideshow' | t }}"
					data-uc-slideshow-autoplay
			>
				{%- render 'icon-pause' -%}
				{%- render 'icon-play' -%}
			</button>
		</div>
	</div>
</slideshow-component>

{% schema %}
{
	"name": "t:sections.announcement-bar.name",
	"max_blocks": 12,
	"class": "announcement-bar-section",
	"enabled_on": {
		"groups": ["header"]
	},
	"settings": [
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"label": "t:sections.all.colors.label",
			"default": "accent-1"
		},
		{
			"type": "checkbox",
			"id": "show_line_separator",
			"default": true,
			"label": "t:sections.header.settings.show_line_separator.label"
		},
		{
			"type": "checkbox",
			"id": "auto_rotate",
			"label": "t:sections.announcement-bar.settings.auto_rotate.label",
			"default": false
		},
		{
			"type": "range",
			"id": "change_slides_speed",
			"min": 3,
			"max": 10,
			"step": 1,
			"unit": "s",
			"label": "t:sections.announcement-bar.settings.change_slides_speed.label",
			"default": 3
		}
	],
	"blocks": [
		{
			"type": "announcement",
			"name": "t:sections.announcement-bar.blocks.announcement.name",
			"settings": [
				{
					"type": "text",
					"id": "text",
					"default": "Welcome to our store",
					"label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
				},
				{
					"type": "url",
					"id": "link",
					"label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.announcement-bar.presets.name",
			"blocks": [
				{
					"type": "announcement"
				}
			]
		}
	]
}
{% endschema %}
