{%- liquid
	capture spacing
		render 'ucoast-spacing', settings: section.settings
	endcapture
	capture color_scheme
		render 'ucoast-scheme-classes', color_scheme: section.settings.color_scheme
	endcapture
-%}

<div class="{{ color_scheme }} gradient {{ spacing }}">
	<div class="page-width page-width--narrow section-{{ section.id }}-padding">
		<h2 class="page-title {{ section.settings.heading_size }}{% render 'ucoast-animate', animation: 'slide-in' %}">
			{%- if section.settings.page.title != blank -%}
				{{ section.settings.page.title | escape }}
			{%- else -%}
				{{ 'sections.page.title' | t }}
			{%- endif -%}
		</h2>
		<div class="rte{% render 'ucoast-animate', animation: 'slide-in' %}">
			{%- if section.settings.page.content != blank -%}
				{{ section.settings.page.content }}
			{%- else -%}
				<div class="page-placeholder-wrapper placeholder">
					{{ 'page' | placeholder_svg_tag: 'page-placeholder' }}
				</div>
			{%- endif -%}
		</div>
	</div>
</div>

{% schema %}
	{
		"name": "t:sections.page.name",
		"tag": "section",
		"class": "section",
		"disabled_on": {
			"groups": ["header", "footer"]
		},
		"settings": [
			{
				"type": "page",
				"id": "page",
				"label": "t:sections.page.settings.page.label"
			},
			{
				"type": "select",
				"id": "heading_size",
				"options": [
					{
						"value": "h2",
						"label": "t:sections.all.heading_size.options__1.label"
					},
					{
						"value": "h1",
						"label": "t:sections.all.heading_size.options__2.label"
					},
					{
						"value": "h0",
						"label": "t:sections.all.heading_size.options__3.label"
					}
				],
				"default": "h1",
				"label": "t:sections.all.heading_size.label"
			},
			{
				"type": "color_scheme",
				"id": "color_scheme",
				"label": "t:sections.all.colors.label",
				"default": "background-1"
			},
			{
				"type": "header",
				"content": "t:sections.all.spacing"
			},
			{
				"type": "range",
				"id": "space_above",
				"label": "Space Above",
				"info": "Set to -1 to disable space above",
				"min": 0,
				"max": 10,
				"default": 4,
				"unit": "spc",
				"step": 1
			},
			{
				"type": "range",
				"id": "mobile_space_above",
				"label": "Mobile Space Above",
				"min": -1,
				"max": 10,
				"step": 1,
				"default": -1,
				"info": "Leave as '-1' to use the same value as the desktop setting."
			}
		],
		"presets": [
			{
				"name": "t:sections.page.presets.name"
			}
		]
	}
{% endschema %}
